.main-locations {
  display: flex;
  flex-direction: column;
  text-align: center;
  h2 {
    padding: 32px;
  }
  .main-locations-detailes {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;

    @include L {
      flex-direction: row;
    }
  }

  .main-locations-address {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.locations-tel {
  display: flex;
  justify-content: center;
  gap: 6px;
}
