.main__about-me {
  width: 86vw;
  @include M {
    width: 100%;
    margin: 0 auto;
  }

  .main__about-me_title-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;

    @include M {
      height: 400px;
      max-width: 1200px;
      margin: 0 auto;
    }

    h1,
    p {
      @include S {
        width: 48vw;
      }
    }
  }

  .main__about-me_title-image::before {
    height: 0;
    width: 0;
    @include S {
      height: 500px;
      width: 357px;
      content: url("/src/images/mariusz_nanys-intro_357x500.png");
      transform: scaleX(-1);
      position: absolute;
      right: -110px;
    }
    @include M {
      left: 55vw;
      bottom: -40px;
    }
  }

  .main__about-me_items {
    margin-top: 20px;

    @include S {
      width: 600px;
      text-align: left;
    }

    li {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .main__about-me_items_logos {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include S {
      justify-content: space-between;
    }

    img {
      width: 150px;
      height: auto;

      @include S {
        width: 100px;
        height: auto;
      }
    }
  }
}
.main__about-me_certificates {
  margin-top: 150px;
  align-items: center;

  .diplomas {
    max-width: 100%;
    .slick-slide {
      width: auto !important;
      margin: 0 10px;
      max-width: 200px;
      max-height: 200px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: red;
    }
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
}