.main__about-me {
  width: 86vw;
  max-width: 1200px;
  @include M {
    width: 80vw;
  }

  h1 {
    text-align: center;
  }

  .main__about-me_title-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: relative;

    @include M {
      max-width: 1000px;
      margin: 0 auto;
    }

    .main__about-me_description {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px;
      align-items: center;
    }

    p {
      @include S {
        max-width: 600px;
      }
    }
  }

  .main__about-me_description_znanylekarz {
    width: 80vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #00c3a5;
    background-color: #00c3a5;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 10px 10px 5px lightblue;

    @include S {
      width: 340px;
    }

    img {
      height: auto;
      max-width: 314px;
      max-height: 50px;
      width: 200px;
    }
  }

  .main__about-me_items {
    margin-top: 20px;

    @include S {
      width: 50vw;
      max-width: 600px;
      text-align: left;
    }

    li {
      font-weight: 400;
      font-size: 16px;
    }
  }

  .main__about-me_items_logos {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include M {
      width: 55vw;
    }
    @include L {
      width: 60vw;
      max-width: 600px;
    }

    img {
      width: 100px;
      height: auto;

      &:first-child {
        height: 50px;
        width: auto;
      }
    }
  }
}

.main__about-me-image {
  display: none;
  @include S {
    display: block;
  }
}

.main__about-me_certificates {
  margin: 100px auto 50px;
  align-items: center;

  @include S {
    margin: 50px auto;
    width: 80vw;
    max-width: 1200px;
  }

  .diplomas {
    max-width: 100%;

    .slick-slide {
      width: auto !important;
      margin: 0 10px;
      max-width: 200px;
      max-height: 200px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: $dark-grey;
    }
  }

  img {
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
  }
}

.slick-lightbox .slick-arrow {
  display: none !important;
  @include M {
    z-index: 999;
    display: block !important;
  }
}
