.main__about-me {
  padding: 40px;
  width: 100%;
  @include M {
    margin:  0 auto;
  }

  .main__about-me_title-image {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;

    @include M {
      height: 400px;
      max-width: 1200px;
      margin: 0 auto;
    }

    h1,
    p {
      @include S {
        width: 48vw;
      }

    }
  }

  .main__about-me_title-image::before {
    height: 0;
    width: 0;
    @include S {
      height: 500px;
      width: 357px;
      content: url("/src/images/mariusz_nanys-intro_357x500.png");
      transform: scaleX(-1);
      position: absolute;
      right: -110px;
    }
    @include M {
      left: 55vw;
      bottom: -40px;
    }
  }

  .main__about-me_items {
    margin-top: 20px;

    @include S {
      width: 600px;
      text-align: left;
    }

    li {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .main__about-me_items_logos {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 150px;
      height: auto;

      @include S {
        width: 120px;
        height: auto;
      }
    }
  }
  
}
.main__about-me_certificates {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  img {
    max-width: 300px;
    max-height: 300px;
  }
  }