.main__offer {
  width: 100%;
  background-color: $dark-grey;
  padding: 50px;

  h3,
  h4,
  li,
  p {
    color: $white;
  }

  .main__offer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    @include L {
      // flex-direction: row;
    }
  }

  .offer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;

    @include S {
      width: 80vw;
      max-width: 800px;
    }

    button {
      border: none;
      background-color: $dark-grey;
      left: 20px;
      align-self: end;
      color: $white;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .offer_logo_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    h3 {
      text-align: center;
    }
  }
  .offer_logo_implant {
    width: 40px;
    height: 64px;
    margin-bottom: 22px;
  }
  .offer_logo_surgery {
    width: 58px;
    height: 76px;
    margin-bottom: 10px;
  }

  .offer_logo_prosthetics {
    width: 58px;
    height: auto;
    margin-bottom: 39px;
  }

  span {
    font-style: italic;
  }

  p {
    margin-top: 20px;
    max-height: 250px;
  }
}
.main__offer_dental_implantology_more {
  h4 {
    font-weight: 600;
    margin: 30px 0 15px;
    text-transform: uppercase;
  }

  strong {
    font-weight: 600;
  }
}
.main__offer_dental_implantology_more_works {
  display: flex;
  flex-wrap: wrap;
  li {
    border-bottom: 1px solid $grey;
    max-width: 300px;
    width: 100%;
    padding: 8px;
    margin-top: 5px;

    @include S {
      max-width: 800px;
    }
  }
}
.main__offer_dental_implantology_faq {
  li {
    background-color: $white;
    max-width: 300px;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    @include S {
    max-width: 800px;
  }
    p {
      margin-top: 10px;
      font-style: normal;
      color: $grey;
    }
    p.hidden {
      display: none;
  }
  }
}
.main__offer_implantology_question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $dark-grey;
  background-color: $white;
  position: relative;
  height: 40px;
  

  .arrow_down {
    width: 20px;
    height: 12.5px;
    cursor: pointer;
    transition: transform .5s ease;
  }
}
.rotated {
  transform: rotate(180deg);
}